html,
body {
  height: 100%;
  background: url("https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg");
  background-size: cover;
  background-attachment: fixed;
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  display: block;
  font-family: "Titillium Web", sans-serif;
  margin-top: 28px;
}
h1 {
  font-size: 40px;
  letter-spacing: 5px;
  margin-top: 25px;
}
h2 {
  font-size: 55px;
}

h3 {
  font-size: 37px;
  text-shadow: grey 0 1px;
  letter-spacing: 9px;
  margin-top: auto;
  margin-left: -35px;
}
h4 {
  margin-top: 11px;
  margin-bottom: 45px;
  font-size: 20px;
  letter-spacing: 6px;
}
h5 {
  font-size: 16px;
  letter-spacing: 4px;
  margin-top: -36px;
  margin-bottom: 35px;
  line-height: 1.5;
}
p {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: "Titillium Web", sans-serif;
}
.well {
  background-color: #ffffee;
}

#content {
  padding: 4% 25% 2%;
}

.search-form {
  text-align: center;
  border-radius: 30px 0 0 30px;
  margin-left: 20px;
}

.input-group {
  width: 80%;
}

input-group-btn {
  max-width: 25px;
}

#search {
  border: 1px;
}
.container {
  margin-top: 50px;
}
.search-btn {
  cursor: pointer;

  background-color: transparent;
  color: rgb(222, 235, 242);
  font-family: "Titillium Web", sans-serif;
  border-color: rgb(211, 211, 211);
}
.fahrenheitorcelsius {
  font-size: 20px;
  margin-top: 0;
  position: relative;
  top: -11px;
}
.text-center {
  color: #fff;
  font-size: smaller;
}

.row {
  margin-left: auto;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.col {
  padding: 0;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}
.v-divider {
  margin-left: 5px;
  margin-right: 5px;
  width: 1px;
  height: 100%;
  border-left: 1px solid gray;
}

.weatherapp {
  background-color: rgb(208 225 234 / 76%);
  padding: 15px;
  margin: 20px;
  max-width: 760px;
  border: 1px solid black;
  margin: auto;
  border-radius: 18px;
  margin-top: 100px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
a:hover {
  font-weight: bold;
  color: white;
  cursor: default;
}

.currentLocationButton {
  cursor: pointer;
  border-radius: 30px 30px 30px 30px;
  background-color: rgb(222, 235, 242);
  color: rgb(144, 144, 144);
  font-family: "Titillium Web", sans-serif;
  border-color: rgb(211, 211, 211);
  border: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;

  left: 60px;
  margin: 0 auto;
  border: 2px;
}
.currentLocationButton:hover {
  color: (144, 144, 144);
  font-weight: bold;
  background-color: transparent;
  opacity: 0.9;
  border-color: black;
  border: 1px;
  transition: all 500ms ease-in-out;
  font-weight: bold;
}
.code-id {
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  color: grey;
  font-size: 15px;
}
.code-id:hover {
  text-decoration: none;
  font-size: 16px;
}
text-center {
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
}
.wind-now {
  margin-top: 10px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
