html,
body {
  height: 100%;
  background: url("https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg");
  background-size: cover;
  background-attachment: fixed;
  color: #3d5565 !important;
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  display: block;
  font-family: "Titillium Web", sans-serif;
}
h1 {
  font-size: 40px;
  letter-spacing: 5px;
}
h2 {
  text-align: center;
  font-size: 35px;
}

h3 {
  font-size: 37px;
  text-shadow: grey 0 1px;
  letter-spacing: 9px;
}
h4 {
  font-size: 20px;
  letter-spacing: 6px;
}
h5 {
  font-size: 16px;
  letter-spacing: 4px;

  line-height: 1.5;
}

.weatherapp {
  background-color: rgb(208 225 234 / 50%);
  padding: 15px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 18px;
  margin-top: 100px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
a:hover {
  font-weight: bold;
  color: #3d5565 !important;

  cursor: default;
}

.code-id {
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  color: white;

  font-size: 15px;
}
.code-id:hover {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

.unit {
  text-decoration: none;
  font-size: small;
  color: #3d5565 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: white !important;
  color: #3d5565 !important;
  transition: ease-in 150ms !important;
  border-color: #3d5565 !important;
  opacity: 0.7 !important;
}
.btn-primary:hover {
  background-color: #3d5565 !important;
  opacity: 0.5 !important;
  color: white !important;
  border-color: white !important;
}
.form-control {
  background-color: white !important;
  color: #3d5565 !important;
  border-color: #3d5565 !important;
  opacity: 0.7 !important;
}
